[
  {kernel, [
    {logger_level, all},

    {logger, [
      {handler, default, logger_std_h, #{
        filter_default => stop,
        level => emergency
      }},

      {handler, dev_log, logger_std_h, #{
        filter_default => log,
        level => debug,
        config => #{
          file => "dev.log"
        },
        filters => [
          {progress_filter, {fun logger_filters:progress/2, stop}}
        ],
        formatter => {logger_formatter, #{
          legacy_header => false,
          single_line => false,
          template => ["[", level, "] ", time, " ", mfa, ":", line, " ", pid, " ", msg, "\n"]
        }}
      }}
    ]}
  ]}
].
